version: "3"
services:
  mysql:
    image: mysql:5.7
    ports:
    - 3306:3306
    volumes:
    - mysql_data:/var/lib/mysql
    environment:
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

volumes:
  mysql_data:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${NFS_HOST},nolock,soft,rw"
      device: ":${NFS_PATH}"
